/* webpage color */
body {
  background-color: #99d8ff; text-align: center; text-color: navy;
       }
/* table border */
table, th, td {
  border: 1px solid black;
                }
/* center table */
table.center {
  margin-left:auto;
  margin-right:auto;
               }
